body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 80%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#resultsButton {
  height: 10%;
  width: 10%;
  position: absolute;
  left: 5;
  top: 80%;
}

#lispOutput {
  height: 10%;
  width: 100%;
  position: absolute;
  left: 10%;
  top: 80%;
}

#svld {
  position:absolute;
  bottom:0;
  width:100%;
  height:20px;   /* Height of the footer */
}
